* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.front {
    float:left;
    height: 100vh;
    position: relative;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


.name {
    margin-top: 45vh;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    border: 2px solid white;
}

h2 {
    color: floralwhite;
    padding: 5px;
    
}

.scrollNotice {
    position: absolute;
    width: 100%;
    bottom: 0;

}

.arrowPic {
    margin: 0 30%;
    
}

.arrow {
    display:block;
    margin: 0 auto;
    transform: rotate(90deg);
    float: bottom;
    opacity: 0.8;
    
}

.hoverScroll {
    visibility: hidden;
    display: block;
    margin: 5px auto;
    width: 120px;
    background-color: black;
    color: floralwhite;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    
}

.arrowPic:hover .hoverScroll {
    visibility: visible;
}


.projects {
    padding-top: 50px;
    clear: both;
    background-color: #BDC687;
    padding-bottom: 50px;
}

.project {
    padding-top: 30px;
}

.works {
    position: relative;
    width: 70%;
    margin:0 auto;
}



.work {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
    display: block;
    border-radius: 3%;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.3) inset;
}
/*    position: relative;*/

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.works:hover .work {
    opacity: 0.3;
}

.works:hover .overlay {
    opacity: 1;
}

.otext {
    background-color: #000;
    color: white;
    font-size: 1.5em;
    padding: 16px 40px;
}


.proj {
    padding-top: 20px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    
}


.about {
    clear: both;
    padding-top: 50px;
    background-color: #FAEFD1;
    border-top: 7px solid #D7C69A;
    box-shadow: 0px -2px 5px #888888;
    padding-bottom: 15px;
}

.github:hover {
    font-weight: 700;
}

.profile {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 15%;
    min-width: 125px;
    margin: 0 auto;
    border-radius: 55%;
    
}

.detail {
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
}

h3 {

    font-size: 3em;
    text-align: center;
    
}

h4 {
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 25px;
}

.edu {
    padding-bottom: 0;
}
.me {
    width: 60%;
    padding-top: 30px;
    margin: 0 auto;
    font-size: 1.3em;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: slategrey;
}

.tool {
    width: 60%;
    margin: 0 auto;
    text-align: justify;

}

.logo {
    width: auto;
    height: 90px;
    max-width: 100%;
/*    display: inline-block;*/
}

.js {
    height: 
}

.java {
    padding: 0 20px;
}

.sql {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}
.tool:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.experience {
    width: 60%;
    padding: 10px 10px 10px 30px;
    display: flex;
    margin: 15px auto;
    
}

.education {
    width: 50%;
    float: left;  
}

.edu-descript {
    width: 50%;
    float: right;  
}

.e-last {
    margin-bottom: 0; 
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

.topButton {
    
    display: block;
    width: 20%;
    margin: 15px auto 0px;
    padding: 10px;
    color: floralwhite;
    background-color: #A1A1A1;
    border-radius: 25px;
    text-align: center;
}

footer {
    height: 50px;
    background-color: #7288B9;
    border-top: 7px solid #4360a0;
    text-align: center;
    color: floralwhite;
    padding-top: 20px;
    font-size: 1.3em;
    box-shadow: 0px -2px 5px #888888;
    clear: both
}

@media only screen and (min-width: 1030px) {
    .works {
        width: 709.15px;
    }
    .work {
        width: 709.51px;
    }
    .proj {
        width: 608.15px;
    }
}


@media only screen and (max-width: 950px) {
    .profile {
        max-width: 20%;
    }

}

@media only screen and (max-width: 750px) {
    .experience {
        display:block;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.3) inset;
    }
    
    .education {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        
    }

    .edu-descript {
        float: none;
        width: 100%;
        text-align: center;
    }   
    
    

}


@media only screen and (max-width: 550px) {
    .tool {
        text-align: none;
    }
    
    
    
    .second {
        float: right;
    }
    
    .last {
        padding-top: 25px;
        display: block;
        margin: 0 auto;  
    }
     
}

@media only screen and (max-width: 380px) {
    .name {
        margin-left: 17%;
        margin-right: 17%;
    }
    h3 {
        font-size: 2.3em;
    }
        h4 {
        padding-bottom: 0px;
    }
    .first {
        display: block;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .second {
        float: none;
        display: block;
        margin: 0 auto;
        
    }

}




