* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.front {
    float:left;
    height: 100vh;
    width: 100%;
    background-image: url(../img/background-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


.name {
    margin-top: 45vh;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    border: 2px solid white;
}

h2 {
    color: floralwhite;
    padding: 5px;
    
}

.projects {
    padding-top: 50px;
    clear: both;
    background-color: #BDC687;
    padding-bottom: 50px;
}

.project {
    padding-top: 30px;
}

.work {
    width: 70%;
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 3%;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.3) inset;
}

.proj {
    padding-top: 20px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    
}

.about {
    clear: both;
    padding-top: 50px;
    background-color: #FAEFD1;
    border-top: 7px solid #D7C69A;
    box-shadow: 0px -2px 5px #888888;
}


.profile {
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 15%;
    min-width: 125px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55%;
    
}

.detail {
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
}

h3 {

    font-size: 3em;
    text-align: center;
    
}

h4 {
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 25px;
}

.edu {
    padding-bottom: 0;
}
.me {
    width: 60%;
    padding-top: 30px;
    margin: 0 auto;
    font-size: 1.3em;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: slategrey;
}

.tool {
    width: 60%;
    margin: 0 auto;
    text-align: justify;

}

.logo {
    width: auto;
    height: 90px;
    max-width: 100%;
/*    display: inline-block;*/
}

.sql {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}
.tool:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.experience {
    width:60%;
    padding-top: 30px;
    display:flex;
    margin: 0 auto;
    
    
}
.education {
    width: 50%;
    float: left;
    
    
}
.edu-descript {
    width: 50%;
    float: right;
    
}

.e-last {
    padding-bottom: 40px;
    
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

footer {
    height: 50px;
    background-color: #7288B9;
    border-top: 7px solid #4360a0;
    text-align: center;
    color: floralwhite;
    padding-top: 20px;
    font-size: 1.3em;
    box-shadow: 0px -2px 5px #888888;
    clear: both
}

@media only screen and (min-width: 1030px) {
    .work {
        width: 709.51px;
    }
    .proj {
        width: 608.15;
    }
}


@media only screen and (max-width: 950px) {
    .profile {
        max-width: 20%;
    }

}

@media only screen and (max-width: 550px) {
    .tool {
        text-align: none;
    }
    
    
    
    .second {
        float: right;
    }
    
    .last {
        padding-top: 25px;
        display: block;
        margin: 0 auto;
        
    }
    .experience {
        display:block;
    }
    
    .education {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;

    }

    .edu-descript {
        float: none;
        width: 100%;
        text-align: center;
    }    
}

@media only screen and (max-width: 365px) {
    .name {
        margin-left: 16%;
        margin-right: 16%;
    }
    h3 {
        font-size: 2.3em;
    }
        h4 {
        padding-bottom: 0px;
    }
    .first {
        display: block;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .second {
        float: none;
        display: block;
        margin: 0 auto;
        
    }

}




